[class*='col_'] {
    float: left;
}

.boxed {
    width: 1170px;
    margin: 0 auto;
}

.clearfix {
    clear: both;
}

.col_1 {
    width: 8.3333%;
}

.col_offset_1 {
    margin-left: 8.3333%;
}

.col_2 {
    width: 16.667%;
}

.col_offset_2 {
    margin-left: 16.667%;
}

.col_3 {
    width: 25%;
}

.col_offset_3 {
    margin-left: 25%;
}

.col_4 {
    width: 33.3333%;
}

.col_offset_4 {
    margin-left: 33.3333%;
}

.col_5 {
    width: 41.6667%;
}

.col_offset_5 {
    margin-left: 41.6667%;
}

.col_6 {
    width: 50%;
}

.col_offset_6 {
    margin-left: 50%;
}

.col_7 {
    width: 58.3333%;
}

.col_offset_7 {
    margin-left: 58.3333%;
}

.col_8 {
    width: 66.6667%;
}

.col_offset_8 {
    margin-left: 66.6667%;
}

.col_9 {
    width: 75%;
}

.col_offset_9 {
    margin-left: 75%;
}

.col_10 {
    width: 83.3333%;
}

.col_11 {
    width: 91.6667%;
}

.col_12 {
    width: 100%;
}

* {
    box-sizing: border-box;
}

.pull-left {
     float: left;
 }
 
 .pull-right {
     float: right;
 }
 
 .clearfix{
    clear: both;
 }

 .herf{
     font-size: 25px;
     margin-left: 10px;
 }

 .logo p{
     font-size: 25px;
     margin-left: 10px;
     color: dimgray;
 }

.logo{
    padding: 20px;
}

.about ul li{
    display: inline;
    margin-left: 16px;
    color: lightslategray;
}

.about ul li:hover{
    color: black;
}

.about{
    padding: 15px;
    margin: 13px 0;
    border-right: 1px solid black;
}

.search input{
    border: none;
}

.fullsearch{
    margin: 25px 0;
}

.header{
   position:fixed;
    width:100%;
    height:80px;
    left:0;
    top:0;
    background-color: white;
    z-index: 1;
}

  .dropdown {
    position: relative;
    display: inline-block;
    padding-top: 0;
}

.dropdown a{
    text-decoration: none;
    color: lightslategray;
}

.dropdown-content {
    margin-top: 35px;
    position: absolute;
    background-color: black;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.7s linear;
}

.dropdown-content a {
    float: left;
    color: lightslategray;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid lightslategray;
    padding: 10px 0;
    font-size: 12px;
    width: 165px;
    margin-left: -100px;
    background: black;
}

.dropdown-content a:hover {
    background-color: black;
    color: white;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
}

.dropdown h2:hover{
    color: black;
    z-index: 1;
}







.content{
    margin-top: 80px;
}
.firstslide{
    width: 100%;
    height: 590px;
    position: relative;
}

.content img{
    width: 100%;
    height: 100%;
}

.button{
    position: absolute;
    top: 450px;
    left: 100px;
    width: 145px;
    height: 80px;
}

.left{
    width: 71px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    float: left; 
}

.right{
    width: 71px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    float: right; 
}

.left p{
    font-size: 30px;
    margin-top: 25px;
}

.right p{
    font-size: 30px;
    margin-top: 25px;
}

.left:hover{background: lightslategray}
.right:hover{background: lightslategray}
.left:hover p{color: white}
.right:hover p{color: white}

.pictures{
    position: absolute;
    top: 450px;
    left: 500px;
    width: 420px;
    height: 80px;
}

.picture{
    width: 120px;
    height: 80px;
    margin: 0 10px;
    float: left;
}

.picture img{
    width: 100%;
    height: 100%;
}

.read{
    position: absolute;
    top: 450px;
    left: 1100px;
    width: 180px;
    height: 75px;
    background-color: #fff;
    text-align: center;
}

.read h3{
    margin-top: 30px;
    color: dimgray;
}

.read:hover{background-color: lightslategray}
.read:hover h3{color: white}

.text{
    position: absolute;
    top: 160px;
    left: 100px;
    width: 60%;
    height: 170px;
}

.text h1{
    margin: 5px;
    font-size: 60px;
}

.text p{
    font-size: 30px;
    margin-left: 15px;
    margin-right: 50px;
}







.about1{
    height: 100px;
    margin: 60px 0;
}

.about1 h1{
    margin-right: 5px;
    font-size: 20px;
}

.about1 .firstp{
    margin-right: 5px;
    font-size: 20px;   
}

.about1 .secondp{
    margin-top: 15px;
    color: lightslategray;
    margin-right: 20px;
}

.line{
    margin-top: 15px;
    width: 40px;
    border: 1px solid lightslategray;
}





.middle{
    width: 100%;
    height: 520px;
    position: relative;
}

.write{
    position: absolute;
    height: 150px;
    width: 80%;
    top: 300;
    left: 7%;
}

.write h1{
    font-size: 70px;
    color: white;
    margin-right: 10px;
}

.write p{
    font-size: 20px;
    color: lightslategray;
    margin-top: 30px;
}

.middle img{
    width: 100%;
    height: 100%;
}

.gear{
    width: 100%;
    height: 150px;
    position: absolute;
    top: 500;
    left: 0;
}

.setting{
    height: 150px;
    position: relative;
}

.setting:hover .png{
    top: 40px;
    transition: 0.2s;
}

.setting:hover img{
    top: -100;
}

.png{
    height: 50px;
    width: 30%;
    position: absolute;
    left: 35%;
    top: 50px;
    overflow: hidden;
}

.setting img{
    width: 100%;
    position: absolute;
    height: 150px;
    top: -50;
}




.tablet{
    width: 100%;
    height: 500px;
    margin-top: 220px;
}

.multi{
    height: 100%;
    width: 100%;
}

.multi h1{
    font-size: 40px;
    margin-top: 60px;
}

.multi p{
    font-size: 20px;
    margin-top: 40px;
    color: lightslategray;
}

.telpic{
   height: 100%;
   width: 100%;
   position: relative;
}

.telpic img{
    position: absolute;
    top: -35;
    left: 10%;
    width: 90%;
}

.buy{
    width: 150px;
    height: 70px;
    margin-top: 70px;
    background-color: #1c1c1c;
    position: relative;
}

.buy p{
    text-align: center;
    color: white;
    font-size: 13px;
    position: absolute;
    top: -10;
    left: 20;
}

.view{
    width: 180px;
    height: 70px;
    margin-left: 20px;
    margin-top: 70px;
    border: 2px solid lightslategray;
}

.view p{
    text-align: center;
    color: lightslategray;
    font-size: 12px;
    margin-top: 30px;
}

.view:hover{
    border-color: #1c1c1c;
    transition: 0.2s;
}

.view:hover .more{
    color: #1c1c1c;
    transition: 0.2s;
}






.footer{
    width: 100%;
    height: 100px;
}
